
body{
    background: linear-gradient(to right, #8000ff, #ff0080);
}
h1{
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    color: #4B2E83;
}
.ins-img {
    width: 400px;
    height: 350px;
    display: block;
    margin: 0 auto;
    background-color: lightblue;
box-shadow: 10px 10px 5px #888888;
}
li {
    font-family: 'Verdana', sans-serif;
    font-size: 18px;
    color: white
    margin-bottom: 10px;
}
.icon{
    width: 50px;
    height: 50px;
}